<h1>Searches</h1>
<%= form_with url: "/", method: :GET do |form| %>
  <%= form.search_field :query %>
<% end %>

<h2>Queries</h2>
<% current_user.recent_searches.elements.each do |query| %>
  <%= link_to query, root_path(query: query) %>
<% end %>
